.head_top {
    font-family: "Marcellus";
    font-weight: 400;
    font-size: 48px;
    padding-top: 25px;
    padding-left: 488px;
    padding-bottom: 31px;
    height: 54px;
}

.background_pic {
    height: 803px;
    background-image: url("../img/image\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 265px;
    padding-left: 80px;
}

.flag {
    background-image: url('../img/flag.png');
    padding-left: 3%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    font-family: "Inika";
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
}

.places {
    padding-left: 80px;
    padding-top: 72px;
}

.header_2 {
    font-family: "Inika";
    font-size: 40px;
    font-weight: 700;

}

.card {
    display: inline-block;
    height: 481px;
    margin-top: 30px;
    border: 1px solid #00000040;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
}

.title {
    font-family: Inika;
    font-weight: 700;
    padding-left: 10px;
    color: #1E8DF2;
}

.subtitle {
    font-family: Inika;
    font-weight: 400;
    padding-left: 10px;
    color: #E8C23E;

}

.hand {
    height: 1px;
    padding-left: 270px;

}

.middle_pic {
    margin-left: 15px;
    margin-right: 15px;

}

.header_3 {
    font-family: "Inika";
    font-size: 40px;
    font-weight: 700;
    padding-left: 380px;
    padding-top: 74px;
}

.underline {
    border-bottom: 5px solid #3E45E8;
    width: 45%;
    margin-left: 50px
}

.mapa {
    margin: 41px 334px 51px 294px;
}

.button {
    font-family: "Inika";
    font-size: 64px;
    font-weight: 700;
    color: #FFFFFF;
    height: 121px;
    margin-left: 380px;
    margin-top: 41px;
    background-image: url("../img/Rectangle\ 6.png");
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding-left: 125px;
    border: 5px solid #E8C23E;
    box-sizing: border-box;
    margin-right: 360px;
    box-shadow: 10px 10px 20px rgb(39, 39, 37);

}

.fon {
    background-image: url("../img/Rectangle\ 7.png");
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-size: cover;
    height: 320px;
    margin-top: 21px;
}

.rekvizit_1 {
    padding-left: 500px;
    font-family: "Marcellus";
    font-weight: 400;
    font-size: 36px;
    color: #A89D9D;
}

.rekvizit_2 {
    padding-left: 560px;
    font-family: "Marcellus";
    font-weight: 400;
    font-size: 36px;
    color: #A89D9D;
}

.buttons_bottom {
    padding-left: 528px;
}