body {
    font-family: Merriweather;
}

.header {
    font-size: 20px;
    height: 25px;
    font-weight: 700;
    padding-left: 25px;
    padding-top: 23px;
}

.picture {
    height: 652px;
    padding-left: 25px;
    padding-top: 42px;
}

.bottomtext1 {
    padding-left: 25px;
    font-size: 14px;
    height: 24px;
    font-weight: 400;
}

.header2 {
    font-size: 20px;
    height: 25px;
    font-weight: 700;
    text-align: center;
    padding-top: 24px;
    padding-right: 402px;
}

    
.header3 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 44px;
    margin-left: 630px;
    



}

.pic {
    margin-left: 150px;
}

.bottext2 {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-right: 260px;
}

.header4 {

    margin-top: 46px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-right: 300px;
}

.botext3 {
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    margin-top: 29px;
    margin-left: 24px;
}

.scrhoriz {
    font-size: 14px;
    font-weight: 400;
    margin-left: 24px;
}

.header5 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 32px;
    margin-left: 24px;
    margin-bottom: 18px;
}

.scrshot {
    border: 1px solid #8B9296;
    width: 398px;
    margin-left: 24px;
}
.image_bottom{
    text-align: center;
    margin-top: 56px;
}
.circheader {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 18px;
    
}

